<template>
  <v-container fluid pa-2 class="fill-height">
    <v-row no-gutters class="fill-height">
      <v-col cols="12" md="5" lg="5" class="pr-2">
      </v-col>
    </v-row>
    <!-- <v-layout row wrap>
      <v-flex xs8>
       
      </v-flex>
      <v-flex xs4 class="pl-1">
        <v-card flat tile>
          <locations-widget></locations-widget>
        </v-card>
      </v-flex>
      <v-flex xs4 pa-2>
        <consumption-widget :consumption-type="'Daily'" :color="'#66BB6A'"></consumption-widget>
      </v-flex>
      <v-flex xs4 pa-2>
        <consumption-widget :consumption-type="'Monthly'" :color="'#F57C00'"></consumption-widget>
      </v-flex>
      <v-flex xs4 pa-2>
        <device-status></device-status>
      </v-flex>
    </v-layout>-->
  </v-container>
</template>

<script>
// import GoogleMap from "../components/home/googleMap";


export default {
  components: {
    // GoogleMap,
    // ConsumptionWidget,
    // DeviceStatus
  },
  beforeCreate() {
    // console.log("beforeCreate");
    // var self = this;
    // self.$store.dispatch({
    //   type: "MDMStore/getOrgDetails",
    //   router: self.$router
    // });
    // self.$store.dispatch("MDMStore/getLocationEntityTypes");
    // self.$store.dispatch("MDMStore/getInfluxMeasurements");
  },
  computed:{
    // locEntityTreeLength(){
    //   return this.$store.getters["MDMStore/getterlocEntityTreeLength"];
    // }
  },
  mounted(){
  },
  created(){
  }
};
</script>
