<template>
  <v-card class="mt-4 mx-auto" max-width="600" min-height="250">
    <v-sheet
      class="v-sheet--offset mx-auto"
      :color="color"
      elevation="8"
      max-width="calc(100% - 32px)"
    >
      <v-sparkline
        :labels="sparkLineLabels"
        :value="sparkLineValues"
        color="white"
        line-width="2"
        padding="16"
      ></v-sparkline>
    </v-sheet>

    <v-card-text class="pt-0">
      <div>
        <span class="mb-2 headline text--primary font-weight-light">{{consumptionType}} consumption</span>
        <span class="ml-2 subheading text--primary font-weight-light">{{consumptionTime}}</span>
      </div>
      <v-divider class="my-2"></v-divider>
      <div style="text-align:center">
        <span class="display-1 text--primary font-weight-light">{{consumptionValue}}</span>
        <span class="subheading ml-2 text--primary">kWh</span>
      </div>
      <v-divider class="my-2"></v-divider>
      <v-icon class="mr-2" small>developer_board</v-icon>
      <span class="caption black--text font-weight-light">Reference meter -</span>
      <span class="caption blue--text font-weight-light ml-2">804700024234166</span>
    </v-card-text>
  </v-card>
</template>


<script>
import { API } from "../../api.js";
import moment from "moment";

export default {
  name: "ConsumptionWidget",
  props: ["consumptionType", "color"],
  components: {},
  data() {
    return {
      sparkLineLabels: [],
      sparkLineValues: [],
      consumptionValue: "",
      consumptionTime:""
    };
  },
  mounted() {
    this.getChartData(this.consumptionType);
    if (this.consumptionType == "Daily") {
      this.consumptionTime = moment().format("YYYY-MM-DD");
    } else {
      this.consumptionTime = moment().format("MMMM");
    }
  },
  beforeCreate() {},
  computed: {},
  methods: {
    async getChartData(consumptionType) {
      var self = this;
      var endDate = moment(new Date()).format("YYYY-MM-DD");
      var startDate = moment(new Date()).format("YYYY-MM-DD");
      var timeOffset = consumptionType == "Daily" ? 0 : moment().date() - 1;
      var timeRange = consumptionType == "Daily" ? "4h" : "1d";
      startDate = moment(endDate, "YYYY-MM-DD")
        .subtract("days", timeOffset)
        .format("YYYY-MM-DD");
      var postData = {
        meterId: "8047000018071572",
        measurement: "activeenergy_total",
        startTime: startDate + "T00:00:00.000Z",
        endTime: endDate + "T23:59:00.000Z",
        timeRange: timeRange
      };
      var chartData = await API.post("mdm/influx/getConsumption", postData);
      var timeFormat = consumptionType == "Daily" ? "hh a" : "DD";
      self.sparkLineLabels = chartData.data.data.map(function(point) {
        return moment(point.time).format(timeFormat);
      });
      self.sparkLineValues = chartData.data.data.map(
        point => point["consumption"] / 1000
      );
      self.consumptionValue = chartData.data.consumptionValue / 1000;
    }
  }
};
</script>
<style scoped>
.v-sheet--offset {
  top: -14px;
  position: relative;
}
</style>

  