<template>
  <v-card flat tile style="overflow:auto;max-height:500px">
    <v-card-title  class="secondary">{{getLocationsWidgetData.orgName}}</v-card-title>
    <v-expansion-panels multiple v-model="activeLocation" >
      <v-expansion-panel v-for="(installation,i) in getLocationsWidgetData.installations" :key="i">
        <v-expansion-panel-header expand-icon>
          <v-layout row>
            <v-flex xs12>
              <v-icon color="primary">location_city</v-icon>
              <span class="ml-2">{{installation.name}}</span>
            </v-flex>
          </v-layout>
        </v-expansion-panel-header>
        <v-divider></v-divider>
        <v-expansion-panel-content>
          <v-list flat>
            <v-list-item-group>
              <template v-for="(location, index) in installation.pes">
                <v-list-item :key="location.id">
                  <template v-slot:default="{ active, toggle }">
                    <v-list-item-icon>
                      <v-icon color="primary">location_on</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title v-text="location.name"></v-list-item-title>
                    </v-list-item-content>
<!-- <v-avatar color="primary" size="24" class="mr-3">
                      <span class="white--text caption">{{location.meterCount}}</span>
                    </v-avatar> -->
                    <v-list-item-icon>
                      <v-icon color="primary" flat>edit</v-icon>
                    </v-list-item-icon>
                    <v-list-item-icon>
                      <v-icon color="primary" flat>add_box</v-icon>
                    </v-list-item-icon>
                    
                  </template>
                </v-list-item>

                <v-divider v-if="index + 1 < installation.pes.length" :key="'location'+index"></v-divider>
              </template>
            </v-list-item-group>
          </v-list>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-card>
</template>

<script>
export default {
  name: "LocationsWidget",
  components: {},
  data() {
    return {
      activeLocation: []
    };
  },
  mounted() {
    
  },
  computed: {
    getLocationsWidgetData() {
      return this.$store.getters["MDMStore/getLocationsWidgetData"];
    }
  },
  methods: {}
};
</script>
<style scoped>
.v-sheet--offset {
  top: -14px;
  position: relative;
}
</style>

  