<template>
  <v-container fluid pa-1>
    <v-row no-gutters>
      <v-col cols="12" class="pa-0">
        <v-card flat tile class="blue-grey">
          <v-card-title class="secondary">
            <span>Invoice Templates</span>
          </v-card-title>
          <v-card-text class="pa-0">
            <v-container fluid pa-2>
              <v-row no-gutters>
                <v-col
                  cols="12"
                  sm="2"
                  md="2"
                  lg="2"
                  v-for="template in invoiceTemplates"
                  :key="template.id"
                  class="pa-2"
                >
                  <v-hover v-slot:default="{ hover }">
                    <v-card class="pa-2 position-relative text-center">
                      <v-img
                        :src="'https://mdm.tekpea.com/mdm/public/'+template.template_name+'.png'"
                        aspect-ratio="1"
                        class="red lighten-2"
                      >
                        <v-expand-transition>
                          <div
                            v-if="hover"
                            class="d-flex transition-fast-in-fast-out grey darken-2 v-card--reveal display-3 white--text"
                            style="height: 20%;"
                          >
                            <v-btn
                              v-if="template.org_invoice_templates.isDefault == false"
                              @click="onSetDefaultClick(template.id)"
                            >Set as default</v-btn>
                            <v-icon
                              color="white"
                              large
                              @click="openImageZoomDialog(template.template_name)"
                            >zoom_in</v-icon>
                          </div>
                        </v-expand-transition>
                      </v-img>

                      <div
                        class="triangle-bottomleft"
                        v-if="template.org_invoice_templates.isDefault == true"
                      >
                        <svg
                          version="1.1"
                          id="Layer_1"
                          xmlns="http://www.w3.org/2000/svg"
                          x="0"
                          y="0"
                          viewBox="0 0 512 512"
                          xml:space="preserve"
                          class="icon icon-xs marker"
                        >
                          <path
                            d="M512 195.6l-171.6-34.7L256 0l-84.4 160.9L0 195.6l119.5 134.1L97.8 512 256 434l158.2 78-21.7-182.3z"
                          />
                        </svg>
                      </div>
                      <span>{{template.template_name}}</span>
                    </v-card>
                  </v-hover>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="toggleImageZoomDialog" max-width="700">
      <v-img :src="'https://mdm.tekpea.com/mdm/public/'+zoomedImage+'.png'" class="red lighten-2"></v-img>
    </v-dialog>
  </v-container>
</template>
<script>
import { EventBus } from "@/lib/EventBus";
export default {
  name: "manage-invoice-templates",
  components: {},
  data() {
    return {
      zoomedImage: "",
      toggleImageZoomDialog: false
    };
  },
  computed: {
    invoiceTemplates() {
      return this.$store.getters["MDMStore/getterOrgInvoiceTemplates"];
    }
  },
  beforeCreate() {},
  mounted() {
    this.$store.dispatch({
      type: "MDMStore/getOrgDetails"
    });
  },
  methods: {
    onSetDefaultClick(id) {
      var self = this;
      this.$store
        .dispatch({
          type: "MDMStore/updateDefaultInvTemplate",
          template: {
            orgId: localStorage.getItem("orgId"),
            defaultTemplateId: id
          }
        })
        .then(data => {
          console.log(data);
          if (data.hasOwnProperty("success") && data.success) {
            self.$store.dispatch({
              type: "MDMStore/getOrgDetails"
            });
            self.$store.commit("MDMStore/SET_SNACKBAR_DETAILS", {
              text: "Default template updated successfully",
              status: "success"
            });
          }
          // self.invoice = Object.assign({}, data);
        });
    },
    openImageZoomDialog(template_name) {
      this.zoomedImage = template_name;
      this.toggleImageZoomDialog = true;
    }
  }
};
</script>
<style scoped>
svg.icon.icon-xs {
  height: 12px;
  width: 12px;
  fill: currentColor;
}
.triangle-bottomleft {
  position: absolute;
  border-right: 32px solid transparent;
  border-bottom: 32px solid #8fbf54;
  bottom: 0;
  left: 0;
}
.position-relative {
  position: relative;
}
.marker {
  position: absolute;
  top: 14px;
  color: #fff;
  font-size: 11px;
}
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.8;
  position: absolute;
  width: 100%;
}
</style>

  