<template>
  <v-container>
  </v-container>
</template>

<script>
export default {
  name: "meter-view",
  components: {
  },
  data() {
    return {
      tab: null
    }
  },
  computed: {
  },
  beforeCreate() {},
  mounted() {},
  methods: {
  }
};
</script>
